html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #222222;
}

a {
  outline: 0;
}

/** EFFECTS **/
.text-shadow-effect {
  transition: all .1s linear;
  text-shadow: 0 0 2px #686868, 0 1px 1px #ddd, 0 2px 1px #d6d6d6, 0 3px 1px #ccc, 0 4px 1px #c5c5c5, 0 5px 1px #c1c1c1, 0 6px 1px #bbb, 0 7px 1px #777;
}

.text-shadow-effect:hover {
  text-shadow: 0 0 2px #686868;
  transition: all .1s linear;
}

.transition-3d-hover {
  transition: all 0.2s ease-in-out;
}
.transition-3d-hover:hover, .transition-3d-hover:focus {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(55, 125, 255, 0.45);
}

/** BORDER **/
.border-transparent {
  border: none;
}

/** BUTTONS **/
.btn-rounded {
  border-radius: 50px;
}

.btn-primary-air {
  color: #377dff;
  background: rgba(55, 125, 255, 0.1);
  border-color: transparent;
}

.btn-primary-air:hover, .btn-primary-air:focus, .btn-primary-air:active, .btn-primary-air.active {
  color: #fff;
  background: #377dff;
  box-shadow: 0 4px 17px rgba(55, 125, 255, 0.35);
}

.form-control {
  padding: 0.75em 1em;
}

.form-control:focus {
  box-shadow: 0 0 0 0 transparent;
}

:not(output):-moz-ui-invalid:not(:focus) {
  box-shadow: none;
}

:not(output):-moz-ui-invalid:-moz-focusring:not(:focus) {
  box-shadow: none;
}

/** LAYOUT **/
.mt-6 {
  margin-top: 6em;
}

.mt-7 {
  margin-top: 7em;
}

.mt-8 {
  margin-top: 8em;
}

.mt-9 {
  margin-top: 9em;
}

/** SIZE **/
@media (min-width: 576px) {
  .w-sm-100 {
    width: 100%!important;
  }
  .w-sm-auto {
    width: auto!important;
  }
}
@media (min-width: 768px) {
  .w-md-100 {
    width: 100%!important;
  }
}
@media (min-width: 992px) {
  .w-lg-100 {
    width: 100%!important;
  }
}
@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100%!important;
  }
}